.DS_Store
Thumbs.db
.eslintcache
.eslintrc
.github
.npm
.meteor
.meteorignore
docs
docs/superpowers
*.map
.superpowers
test
src
node_modules
coverage
.nyc_output
*.tsbuildinfo
*.tgz
npm-debug.log*
eslint.config.mjs
rollup.config.mjs
tsconfig.json
tsconfig.test.json
tsconfig.types.json
.env
.env.*
.idea
